.messages {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }